.edit-btn,
.delete-btn {
  position: absolute;

  font-size: 20px;

  padding: 10px;
  cursor: pointer;
}

.edit-btn {
  top: 1px;
  right: 13px;
  color: orange;
  background-color: #000;
}

.delete-btn {
  top: 60px;
  right: 13px;
  color: rgb(99, 34, 34);
  background-color: #000;
  &:hover {
    color: #ff0000;
  }
}
